<div class="container">
 <h2>注文履歴一覧</h2><br>
 <table class="table table-hover">
  <tr>
   <th>購入日時</th>
   <th>購入者</th>
   <th>注文個数</th>
   <th>注文ステータス</th>
  </tr>
  <% @sum = 0 %>
  <% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.created_at.strftime('%Y/%m/%d'),admin_order_path(order.id), method: :get %></td>
    <td><%= order.name %></td>
    <td><%= order.order_history_details.sum(:amount) %></td>
    <td><%= order.status %></td>
  <% end %>
  </tr>